@model Papagames.Detective.App.Web.Models.ProcessModel
@{
    // >> Process > View > Classic > Cards
    @Cards((int) ViewData["First"], (int) ViewData["Last"])
}

@functions
{

    private string PrimaryCardClass(int num)
    {
        return
            ProcessView.MemberIsPrimary(num)
                ? " det-card-frame-primary"
                : ProcessView.MemberIsActive(num)
                    ? " det-card-frame-secondary" : " det-card-frame-invisible";
    }

    private string ActiveCardClass(int num)
    {
        return
            ProcessView.MemberIsActive(num)
                ? " det-card-name-active"
                : " det-card-name-inactive";
    }

}

@helper Cards(int first, int last)
{
    <nav class="det-gametable-color">
        <ul>
            @for (var i = first; i <= last; i++)
            {
                <li class="det-card">
                    @Card(i)
                </li>
            }
        </ul>
    </nav>
}

@helper Card(int n)
{
    <div class="det-card-aligment" align="center">
        <div class="@("det-card-content" + ActiveCardClass(n) + PrimaryCardClass(n))" align="center">
            @if (ProcessView.MemberExists(n))
            {
                @ProcessView.MemberName(n)
            }
        </div>
    </div>
}