@{
    // >> Process > View > Classic > Desktop ***
    @Desktop()
}
@using Papagames.Detective.Core.Game
@model Papagames.Detective.App.Web.Models.ProcessModel

@helper Desktop()
{
    <div class="det-desktop">
        @*@History()*@
        @Today()
        @Actions()
    </div>
}


@helper Today()
{
    ProcessView.RenderPartial("Today");
}


@helper Actions()
{
    switch (Model.State)
    {
        case State.Arrest:
            ProcessView.RenderPartial("Questioning");
            ProcessView.RenderPartial("Arrest");
            break;
        case State.Questioning:
            ProcessView.RenderPartial("Questioning");
            if (Model.Options.EarlyArrestIsEnabled)
            {
                ProcessView.RenderPartial("Arrest");
            }
            break;
    }
}


@helper History()
{
    ProcessView.RenderPartial("History");
}
