@{
    // >> Process > View > Classic > Finish ***
    @Finish()
}
@using Papagames.Detective.App.Web.Models
@using Papagames.Detective.Core.Game
@model ProcessModel

@functions
{
}

@helper Finish()
{
    switch (Model.State)
    {
        case State.Finished:
            @Result()
            break;
    }
}

@helper Result()
{
    <div class="det-gamelog-record">
        <div class="det-gamelog-record-day">
            Result:
        </div>
        <div class="det-gamelog-record-info">
            <div class="det-today-section-text">
                result will be here soon
            </div>
        </div>
    </div>
}

