@{
        // >> Process > View > Classic > Questioning ***
    @Questioning()
}
@using Papagames.Detective.Core.Game
@model Papagames.Detective.App.Web.Models.ProcessModel

@functions
{

    private IEnumerable<int> QuestionRespondents()
    {
        return Model.UserActions.Where(a=>a.Type==Process.UserAction.ActionType.Ask).Select(a=>a.Params[0]).Distinct();
    }

}

@helper Questioning()
{
    if (Model.UIPrimaryMember == null)
    {
        @SelectRespondent()
    }
}


@helper SelectRespondent()
{
    <div class="det-questioning">
        Ask: 
        @foreach (var num in QuestionRespondents())
        {
            @ProcessView.MemberName(num)@:&nbsp;
        }
    </div>
}
