@{
    // Code: Here: View | Play.cshtml
    ViewBag.Title = "Game";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/Scripts/phaser.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/typescript.output.js"></script>
}

<br/>

<img src="/Image/Person?world=Simpsons&name=Snake&width=50&height=50"/>

<div id="crimenuts-playground" ></div>
