@{
    this.Layout = "~/Views/Shared/GameLayout.cshtml";
}

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/Scripts/phaser.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/typescript.output.js"></script>
}

@section Header {
}

@section Content {
    <div id="crimenuts-playground"></div>
}

@section Footer {
    <div class="cn-game-aux-links">
        <a href="#" id="crimenuts-reset-processes">Reset processes</a>
    </div>
}