<!DOCTYPE html>
<html>

@{
    // >> View: Layputs/Classic/
}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Themes/Classic/css")
</head>


<body>

@{ Html.RenderPartial("~/Views/Shared/Parts/TopMenu.cshtml"); }
    
@RenderBody()

@{ Html.RenderPartial("~/Views/Shared/Parts/BottomLinks.cshtml"); }


</body>
</html>