<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Themes/Default/css")
</head>


<body>

    @{ Html.RenderPartial("~/Views/Shared/Parts/TopMenu.cshtml"); }

    <h1>@ViewBag.Title</h1>

    @RenderBody()

    @{ Html.RenderPartial("~/Views/Shared/Parts/BottomLinks.cshtml"); }


</body>
</html>