@using Action = Crimenuts.Core.Game.Action
@model Crimenuts.App.Web.Models.HistoryModel
@{
    var emotionType = (Action) ViewBag.EmotionType;
}
<ul>
    @foreach (var record in Model.EmotionSubjects(emotionType))
    {
        <li>
            @record.Subject.Name:
            <ul>
                @foreach (var emotion in Model.EmotionValues(emotionType, record.Subject.Number))
                {
                    <li>@emotion.Agent: @emotion.Value</li>
                }
            </ul>
        </li>
    }
</ul>