@using Papagames.Detective.App.Web.Models
@using Papagames.Detective.Utils
@model ProcessModel
@{
    ViewBag.Title = "Play Detective Process";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@Model.ShortInfo</h2>
