@{
    // Case / Index
    ViewBag.Title = "Detective game";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using Papagames.Detective.Core.Game
@model Papagames.Detective.App.Web.Models.CaseModel

<h2>Case #@Model.Id</h2>

<ol>
    <li>@Model.WorldName @Model.MemberNum/@Model.MurdererNum</li>
</ol>