@{
    // Case / Index
    ViewBag.Title = "Detective game";
    Layout = "~/Views/Shared/Layout.cshtml";
   //ViewBag.CaseId = 123;
}
@using Papagames.Detective.Core.Game
@model Papagames.Detective.App.Web.Models.SchemaModel

<h2>Case [@ViewBag.CaseId]</h2>