@using Papagames.Detective.App.Web.Models
@model SchemaModel
@{
    ViewBag.Title = "Detective Cases";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Cases</h2>

<ul>
    @foreach (var c in Model.Cases)
    {
        <li>
            @Html.ActionLink(string.Format("#{0}: {1} {2}/{3}", c.Id, c.WorldName, c.MemberNum, c.MurdererNum), "Details", new { id = c.Id })
        </li>
    }
</ul>   