/*
// ============================================================================================= []
// Members
*/

.cn-member {
    background: inherit;
    text-align: center;
    vertical-align: middle;
}

.cn-member-cell-aligment { width: 100%; }

.cn-member-cell-content { width: 120px; }

/*
// ============================================================================================= []
// Face
*/

.cn-member-face-active-primary {
    background: #d7d700;
    color: #6f6b00;
}

.cn-member-face-active-secondary {
    background: #827f00;
    color: #353300;
}

.cn-member-face-inactive-murderer {
    background: #500000;
    color: #240000;
}

.cn-member-face-inactive-innocent {
    background: #004000;
    color: #001a00;
}

.cn-member-face-inactive-murderer-selected {
    background: #500000;
    color: #d84f0a;
}

.cn-member-face-inactive-innocent-selected {
    background: #004000;
    color: #a2dc11;
}

.cn-member-face-active-murderer {
    background: #a40000;
    color: #240000;
}

.cn-member-face-active-innocent {
    background: #00a800;
    color: #001a00;
}


.cn-member-cell-circle-face {
    border-radius: 40px;
    height: 80px;
    margin: 15px;
    width: 80px;
}

.cn-member-face-asked-top {
    position: relative;
    top: -10px;
}

.cn-member-face-asked-bottom {
    position: relative;
    top: 10px;
}

.cn-member-face-link { text-decoration: none; }

.cn-member-face-link:hover { font-weight: bold; }

.cn-member-face-text-alive {
    background: none;
    color: inherit;

    display: block;

    font-size: 55px;
    height: inherit;
    
    left: -10px;
    position: relative;
    text-align: center;
    width: inherit;
}

.cn-member-face-text-dead {
    background: none;
    color: inherit;
    display: block;

    font-size: 20px;

    font-weight: normal;
    height: inherit;

    position: relative;
    text-align: center;
    top: 15px;
    width: inherit;
}

.cn-member-cell-content-indent {
    background: inherit;
    height: 55px;
    width: 10px;
}

/*
// ============================================================================================= []
// Cards
*/

.cn-card { border: solid 0 red; }

.cn-card-aligment {
    background: inherit;
    width: 100%;
}

.cn-card-content {
    background: inherit;
    height: auto;
    margin-bottom: 5px;

    margin-top: 5px;
    padding-bottom: 7px;
    padding-top: 7px;
    width: 120px;
}

.cn-card-name-active { border-radius: 4px; }

.cn-card-name-inactive {
    border-radius: 4px;
    color: #9c9974;
}

.cn-card-link {
    color: inherit;
    text-decoration: underline;
}

.cn-card-link:hover { color: black; }

.cn-card-frame-selected {
    background-color: #f6f0d4;
    border: solid 2px #9c9974;
    color: #6f6b00;
}

.cn-card-frame-visible {
    background-color: #e9dfb4;
    border: solid 2px #979019;
    color: #858330;
}

.cn-card-frame-invisible {
    border: none;
    color: #9c9974;
}

/*
// ============================================================================================= []
// EOF
*/