@{
    ViewBag.Title = "Detective Scheme";
    Layout = "~/Views/Shared/Layout.cshtml";
    }   
<h2>Scheme</h2>
<ul>
    <li>@Html.ActionLink("Cases", "Index", "Case")</li>
    <li>@Html.ActionLink("Processes", "Index", "Process")</li>
</ul>
 