@{
    // Now: | View | Home | Index
    ViewBag.Title = string.Format("{0}",
        Localization.Text("Title:Crime Nuts")
        );
    Layout = "~/Views/Shared/Layouts/Classic.cshtml";
}


<div class="cn-dev cn-height-200">
    
    <br> @Html.ActionLink("Cases", "Index", "Case")
    <br> @Html.ActionLink("Processes", "Index", "Process")
    
</div>
<div class="cn-dev cn-height-400">
    Files
</div>