@model Crimenuts.App.Web.Models.SchemaModel

@{
    // >> View | Case | Index
    ViewBag.Title = string.Format("{0}",
        Localization.Text("Title:Crime Nuts")
        );
    Layout = "~/Views/Shared/Layouts/Classic.cshtml";
}


<div class="cn-info">

    @InfoView.Header("Cases")

    @foreach (var c in Model.Cases)
    {
        <div class="cn-info-menu-item">
            @Shared.ActionLink(c.ShortInfo, "Case", "Run", c.Id, "cn-info-menu-item cn-info-link cn-info-link-action")
        </div>
    }

</div>

<h2>Cases</h2>