@*
    // ============================================================================================= []
    // >> Process > View > Classic > Play *
*@
@model Papagames.Detective.App.Web.Models.ProcessModel

@{
    ViewBag.Title = "Crime Nuts Case #" + Model.CaseId;
    Layout = "~/Views/Shared/Layouts/Classic.cshtml";
    ViewData["id"] = Model.Id;
}

@Content()

@helper Content()
{
    <div class="det-page-content">
        <div class="det">
            <div class="det">
                @Room()
            </div>
            <div class="det-dev det-height-400">
                Files
            </div>
        </div>
    </div>
}

@helper Room()
{
    <div class="det">
        @{ ProcessView.RenderPartial("Members", new {First = 1, Last = 6, SideIsTop = true}); }
    </div>
    <div class="det-gametable det-gametable-color">
        @GameTable()
    </div>
    <div class="det">
        @{ ProcessView.RenderPartial("Members", new { First = 7, Last = 12, SideIsTop = false }); }
    </div>
}

@helper GameTable()
{
    <div class="det">
        @{ ProcessView.RenderPartial("Cards", new { First = 1, Last = 6 }); }
    </div>
    <div class="det">
        @{ ProcessView.RenderPartial("Desktop"); }
    </div>
    <div class="det">
        @{ ProcessView.RenderPartial("Cards", new { First = 7, Last = 12 }); }
    </div>
}