@{
    // ============================================================================================= []
    // >> Process > View > Classic > Play *
    ViewBag.Title = string.Format("Crime Nuts Case #{0}, day:{1}, {2}", Model.CaseId, Model.Today, Model.State);
    Layout = "~/Views/Shared/Layouts/Classic.cshtml";
    ViewBag.id = Model.Id;

    CorretFace();
}

@using Papagames.Detective.Core.Game
@model Papagames.Detective.App.Web.Models.ProcessModel

@functions {
    private void CorretFace()
    {
        if (ViewBag.Face == null && Model.State == State.Questioning)
        {
            ViewBag.Face = Model.TodayVictim.Number;
        }
        
    }

}

<div class="det-page-content">
    <div class="det-room">
        @{ ProcessView.RenderPartial("Members", new {First = 1, Last = 6, SideIsTop = true}); }
        <div class="det-gametable det-gametable-color">
            @{ ProcessView.RenderPartial("Cards", new {First = 1, Last = 6}); }
            <div class="det-desktop">
                @{ ProcessView.RenderPartial("History"); }
                @{ ProcessView.RenderPartial("Today"); }
                @{ ProcessView.RenderPartial("States"); }
            </div>
            @{ ProcessView.RenderPartial("Cards", new {First = 7, Last = 12}); }
        </div>
        @{ ProcessView.RenderPartial("Members", new {First = 7, Last = 12, SideIsTop = false}); }
    </div>
    <div class="det-dev det-height-400">
        Files
    </div>
</div>