@{
    ViewBag.Title = "Detective Game";
    Layout = "~/Views/Shared/Layout.cshtml";
    //todo: create Schema MVC level, link it to Home
    }   
<h2>Schema</h2>
<ul>
    <li>@Html.ActionLink("Cases", "Index", "Case")</li>
    <li>@Html.ActionLink("Processes", "Index", "Process")</li>
</ul>
 