@using Papagames.Detective.Common
@model dynamic

@{
    ViewBag.Title = "Detective";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Detective Process</h2>
<h2>Server time: @DateTime.Now.ToLongTimeString()</h2>
<hr />
xo-xo-xo.<br>
@Test.HelloWorld()<br>
@Html.ActionLink("Process", "Index", "Game")


