@model Papagames.Detective.App.Web.Models.Player

@{
    ViewBag.Title = "Detective game";
    Layout = "~/Views/Shared/Layout.cshtml";

    @:<h3>Cases</h3>
    
    foreach (var c in Model.Cases)
    {
        @: <br>
        @: @c.WorldName
    }
}