@using Papagames.Detective.Common
@model dynamic

@{
    ViewBag.Title = "Detective game";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h1>Cases</h1>

@Html.ActionLink("Process", "Index", "Game")



