@{
    ViewBag.Title = "Detective Game Schema";
    Layout = "~/Views/Shared/Layouts/Default.cshtml";
    }   
<h2>Game Schema</h2>
<ul>
    <li>@Html.ActionLink("Cases", "Index", "Case")</li>
    <li>@Html.ActionLink("Processes", "Index", "Process")</li>
</ul>
 