/*
>> CSS | Common  *
*/
/*
// ============================================================================================= []
// Common
*/
html, body, p, div, h1, h2, h3, h4, h5, h6, img, pre, form, fieldset, a, span{
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    vertical-align: top;

    color: inherit;
    font-size: inherit;
    font-family: 'Cousine';

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a { 
    text-decoration: none;
}

html, body, .cn-body {
    background: #050222;
    background: #140538;
    /*
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/b/b7/National_Museum_of_Crime_and_Punishmen_-_Charles_Whitman_6mm_Remington_shell_casing_%282868553499%29.jpg");
    background-image: url("http://fc02.deviantart.net/fs71/i/2012/086/8/d/sherlock_holmes_table_2_by_morgan__k-d4u3584.jpg");
    background-image: url("http://fc09.deviantart.net/fs70/i/2012/086/4/a/sherlock_holmes_table_by_morgan__k-d4u3555.jpg");
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/e/e9/Sherlock_Holmes_Museum_Study_2.jpg");
    background-image: url("http://media.timeout.com/images/101587273/750/422/image.jpg");
*/

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
}

.det { border: none; }

/*
// ============================================================================================= []
// nav (stretch horizontally)
*/

nav {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: none;
}

nav ul { display: table-row; }

nav li {
    display: table-cell;
    margin: 0;
}


/*
// ============================================================================================= []
// Menu
*/

.cn-menu {
    color: #00cc00;
    text-decoration: none;
}

.cn-menu:hover { text-decoration: underline; }

/*
// ============================================================================================= []
// Attributes
*/

.cn-vertical {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.cn-table { display: table; }

.cn-raw { display: table-row; }

.cn-cell { display: table-cell; }

.cn-column { display: table-column; }

.cn-text-align-right { text-align: right; }

.cn-text-align-center { text-align: center; }

.cn-width-all { width: 100% }

.cn-width-100 { width: 100px }

.cn-width-200 { width: 200px }

.cn-width-auto { width: auto }

.cn-height-all { height: 100%; }

.cn-height-100 { height: 100px; }

.cn-height-200 { height: 200px; }

.cn-height-300 { height: 300px; }

.cn-height-400 { height: 400px; }
.cn-height-600 { height: 600px; }
.cn-height-800 { height: 800px; }

.cn-no-text-decoration { text-decoration: none; }

.cn-no-wrap { white-space: pre-line; }

/*
// ============================================================================================= []
// Dev
*/

.cn-dev {
    color: #00cc00;
    padding: 6px;
    margin: 6px;
    text-align: center;
    border: 1px dashed #31ff00;
    font-size: 12px;
}


/*
// ============================================================================================= []
// Pads
*/

.cn-green-pad {
    color: #00cc00;
    width: 100%;
    background: #003e00;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
}

.cn-border-bottom-red-4 { border-bottom: solid 4px #990000; }

.cn-border-top-red-4 { border-top: solid 4px #990000; }


/*
// ============================================================================================= []
// EOF
*/