/*
// ============================================================================================= []
// Layout
*/

html, body { height: 100%; }

.cn-layout-frame {
    background: black;
    display: table;
    height: 100%;
    margin: 0;
    padding: 0;
}

.cn-layout-row {
    display: table-row;
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.cn-layout-expand { height: 100%; }

.cn-layout-body {
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.cn-layout-page {
    display: table;
    font-size: 10px;
    max-width: 900px;
    min-width: 768px;
    width: 100%;
}

.cn-layout-page-part {
    display: table;
    width: 100%;
}

.cn-layout-page-content {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.90);
    display: table-row;
    overflow: hidden;
    width: 100%;
}
/*
// ============================================================================================= []
// EOF
*/