/*
//    >> CSS | Classic | Room
*/

/*
// ============================================================================================= []
// Structure
*/

.cn-room {
    font-size: 16px;
    height: auto;
    padding-left: 0;
    padding-right: 0;
}


/*
// ============================================================================================= []
// Desktop
*/

.cn-gametable { border-radius: 0; }

.cn-gametable-color { background-color: #fff5cc; }

.cn-desktop {
    padding: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/*
// ============================================================================================= []
// EOF
*/