/*
>> CSS > Classic ***
*/
/*
// ============================================================================================= []
// Common
*/
html, body, p, div, h1, h2, h3, h4, h5, h6, img, pre, form, fieldset {
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle;

    font-size: 1.02em;
    font-family: 'Cousine';

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, .det-body {
    height: 100%;
    width: 100%;
    background: #050222;
}

.det { border: none; }

/*
// ============================================================================================= []
// nav (stretch horizontally)
*/

nav {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: none;
}

nav ul { display: table-row; }

nav li {
    display: table-cell;
    margin: 0;
}

/*
// ============================================================================================= []
// Page (stretch vertically)
*/

.det-page {
    display: table;
    height: 100%;
    width: 100%;
    min-width: 768px;
    max-width: 768px;
}

.det-page-content {
    display: table-row;
    overflow: hidden;
    width: 100%;
    height: auto;
}


.det-room {
    height: auto;
    padding-left: 0;
    padding-right: 0;
    background-color: black;
}


/*
// ============================================================================================= []
// Menu
*/

.det-menu {
    color: #00cc00;
    text-decoration: none;
}

.det-menu:hover { text-decoration: underline; }

/*
// ============================================================================================= []
// Attributes
*/

.det-vertical {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.det-table { display: table; }

.det-raw { display: table-row; }

.det-cell { display: table-cell; }

.det-column { display: table-column; }

.det-text-align-right { text-align: right; }

.det-text-align-center { text-align: center; }

.det-width-all { width: 100% }

.det-width-100 { width: 100px }

.det-width-200 { width: 200px }

.det-width-auto { width: auto }

.det-height-100 { height: 100px; }

.det-height-200 { height: 200px; }

.det-height-300 { height: 300px; }

.det-height-400 { height: 400px; }

.det-no-text-decoration { text-decoration: none; }

/*
// ============================================================================================= []
// Dev
*/

.det-dev {
    color: #00cc00;
    background-color: #000000;
    padding: 6px;
    margin: 6px;
    text-align: center;
    vertical-align: middle;
    border: 2px dashed #31ff00;
}

/*
// ============================================================================================= []
// Desktop
*/

.det-gametable { border-radius: 0; }

.det-gametable-color { background-color: #fff5cc; }

.det-desktop {
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

/*
// ============================================================================================= []
// Pads
*/

.det-green-pad {
    color: #00cc00;
    width: 100%;
    background: #003e00;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.det-border-bottom-red-4 { border-bottom: solid 4px #990000; }

.det-border-top-red-4 { border-top: solid 4px #990000; }

/*
// ============================================================================================= []
// Members
*/

.det-member {
    background: inherit;
    text-align: center;
    vertical-align: middle;
}

.det-member-cell-aligment { width: 100%; }

.det-member-cell-content { width: 120px; }

/*
// ============================================================================================= []
// Face
*/

.det-member-face-active-primary {
    background: #d7d700;
    color: #6f6b00;
}

.det-member-face-active-secondary {
    background: #827f00;
    color: #353300;
}

.det-member-face-inactive-murderer {
    background: #560000;
    color: #240000;
}

.det-member-face-inactive-innocent {
    background: #003e00;
    color: #001a00;
}

.det-member-cell-content-face {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
}

.det-member-face-link {
    text-decoration: none;    
}
.det-member-face-link:hover {
    font-weight: bold;
}

.det-member-face-text-alive {
    text-align: center;
    font-size: 55px;

    display: block;

    position: relative;
    left: -10px;
    
    color: inherit;
    width: inherit;
    height: inherit;
    background: none;
}

.det-member-face-text-dead {
    text-align: center;
    font-size: 20px;
    font-weight: normal;

    display: block;

    position: relative;
    top: 15px;

    color: inherit;
    width: inherit;
    height: inherit;
    background: none;
}

.det-member-cell-content-indent {
    width: 10px;
    height: 55px;
    background: inherit;
}

/*
// ============================================================================================= []
// Cards
*/

.det-card { border: solid 0 red; }

.det-card-aligment {
    background: inherit;
    width: 100%;
}

.det-card-content {
    background: inherit;
    width: 120px;
    height: auto;

    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.det-card-name-active { border-radius: 4px; }

.det-card-name-inactive {
    border-radius: 4px;
    color: #9c9974;
}

.det-card-link {
    color: inherit;
    text-decoration: underline;
}

.det-card-link:hover {
    color: black;
}

.det-card-frame-selected {
    color: #6f6b00;
    border: solid 2px #9c9974;
    background-color: #f6f0d4;
}

.det-card-frame-visible {
    color: #858330;
    border: solid 2px #979019;
    background-color: #e9dfb4;
}

.det-card-frame-invisible {
    border: none;
    color: #9c9974;
}
/*
// ============================================================================================= []
// Today
*/

.det-today { padding: 2px; }

.det-today-day {
    width: 140px;
    padding-right: 15px;
    color: #560000;
    display: table-cell;
    font-weight: normal;
    vertical-align: top;
    text-align: right;
}

.det-today-info {
    width: auto;
    display: table-cell;
    vertical-align: top;
}

.det-today-info-murder {
    color: #990000;
    padding-bottom: 5px;
}

.det-today-info-evidences {
    color: #990000;
    padding-bottom: 5px;
}

/*
// ============================================================================================= []
// Questioning
*/

.det-today-info-answers { vertical-align: top; }

.det-answers-color { color: #4800b1 }

.det-today-info-answer {
    padding: 0;
    width: auto;
}

.det-today-info-answer-agent {
    display: table-cell;
    width: 120px;
    text-align: left;
}

.det-today-info-answer-value {
    display: table-cell;
    width: auto;
}

.det-answer-highlight {
    background-color: #fcff00;
    color: #0015ff;
}

.det-questioning {
    vertical-align: top;
    line-height: 24px;
    margin-top: 0;
    padding-top: 0;
}
/*
// ============================================================================================= []
// EOF
*/