/*
>> Classic/CSS
*/
/*
// ============================================================================================= []
// Common
*/
html, body, p, div, h1, h2, h3, h4, h5, h6, img, pre, form, fieldset {
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle;

    font-size: 1.02em;
    font-family: 'Cousine';

    color: #00cc00;
    background-color: #000000;
}

html, body, .det-body {
    height: 100%;
    width: 100%;
    background: #050222;
}

.det { border: none; }


/*
// ============================================================================================= []
// Attributes
*/

.vertical {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.table { display: table; }

.raw { display: table-row; }

.cell { display: table-cell; }

.column { display: table-column; }

.text-align-right { text-align: right; }

.text-align-center { text-align: center; }

.width-all { width: 100% }

.width-100 { width: 100px }

.width-200 { width: 200px }

.width-auto { width: auto }

.height-100 { height: 100px; }

.height-200 { height: 200px; }

.height-300 { height: 300px; }

.height-400 { height: 400px; }

/*
// ============================================================================================= []
// Page
*/

.det-page {
    display: table;
    height: 100%;
    width: 100%;
    min-width: 768px;
    max-width: 768px;
}

.det-page-footer, .det-page-content, .det-page-header {
    display: table-row;
    height: 1px;
    overflow: hidden;
    width: 100%;
}

.det-page-content { height: auto; }

/*
// ============================================================================================= []
// Dev
*/

.det-dev {
    padding: 6px;
    margin: 6px;
    background: inherit;
    text-align: center;
    vertical-align: middle;
    border: 2px dashed #31ff00;
}

/*
// ============================================================================================= []
// Utils
*/

.det-green-pad {
    width: 100%;
    height: 25px;
    background: #003e00;

    padding-top: 15px;
    padding-bottom: 8px;
}

.det-red-line {
    width: 100%;
    height: 4px;
    background: #990000;
}

.det-green-pad-inner {
    border-spacing: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    table-layout: auto;
    background-color: inherit;
    width: 100%;
}

.det-green-pad-inner-text {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    margin: 0;
    vertical-align: top;
    background-color: inherit;
    padding-left: 15px;
    padding-right: 15px;
}

/*
// ============================================================================================= []
// nav (stretch horizontally)
*/

nav {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: none;
}

nav ul { display: table-row; }

nav li {
    display: table-cell;
    margin: 0;
}

/*
// ============================================================================================= []
// Member
*/

#card {
    background: inherit;
    text-align: center;
    vertical-align: middle;
}

#card-aligment { width: 100%; }

#card-content {
    width: 120px;
    border: solid 0 red
}

#member {
    background: inherit;
    text-align: center;
    vertical-align: middle;
}


#members-top {
    margin-top: 30px;
    margin-bottom: 15px;
}

#members-bottom {
    margin-top: 15px;
    margin-bottom: 30px;
}

#member-cell-aligment { width: 100%; }

#member-cell-content {
    width: 120px;
    border: solid 0 red
}

#member-cell-content-face {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #999999;
    border: solid 0 red;
}

#member-cell-content-face-text {
    text-align: center;
    font-size: 60px;

    display: block;
    color: #000000;

    position: relative;
    left: -6px;

    width: inherit;
    height: inherit;
    background: rgba(0, 0, 0, 0.00);

    border: solid 0px red;
}

#member-cell-content-indent {
    width: 10px;
    height: 70px;
    background: inherit;
}

/*
// ============================================================================================= []
// EOF
*/