/*
// >> CSS > Classic ***
*/
/*
// ============================================================================================= []
// Common
*/
html, body, p, div, h1, h2, h3, h4, h5, h6, img, pre, form, fieldset, a {
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    vertical-align: top;

    color: inherit;
    font-size: inherit;
    font-family: 'Cousine';

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a { 
    text-decoration: none;
}

html, body, .det-body {
    background: #050222;
    background: #140538;
    /*
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/b/b7/National_Museum_of_Crime_and_Punishmen_-_Charles_Whitman_6mm_Remington_shell_casing_%282868553499%29.jpg");
    background-image: url("http://fc02.deviantart.net/fs71/i/2012/086/8/d/sherlock_holmes_table_2_by_morgan__k-d4u3584.jpg");
    background-image: url("http://fc09.deviantart.net/fs70/i/2012/086/4/a/sherlock_holmes_table_by_morgan__k-d4u3555.jpg");
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/e/e9/Sherlock_Holmes_Museum_Study_2.jpg");
    background-image: url("http://media.timeout.com/images/101587273/750/422/image.jpg");
*/

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
}

.det { border: none; }

/*
// ============================================================================================= []
// nav (stretch horizontally)
*/

nav {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: none;
}

nav ul { display: table-row; }

nav li {
    display: table-cell;
    margin: 0;
}

/*
// ============================================================================================= []
// Page (stretch vertically)
*/

html, body { height: 100%; }

.det-page {
    display: table;
    height: 100%;
    width: 100%;
    min-width: 768px;
    max-width: 768px;
    font-size: 10px;
}

.det-page-content {
    display: table-row;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.90);
}


.det-room {
    height: auto;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}


/*
// ============================================================================================= []
// Menu
*/

.det-menu {
    color: #00cc00;
    text-decoration: none;
}

.det-menu:hover { text-decoration: underline; }

/*
// ============================================================================================= []
// Attributes
*/

.det-vertical {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.det-table { display: table; }

.det-raw { display: table-row; }

.det-cell { display: table-cell; }

.det-column { display: table-column; }

.det-text-align-right { text-align: right; }

.det-text-align-center { text-align: center; }

.det-width-all { width: 100% }

.det-width-100 { width: 100px }

.det-width-200 { width: 200px }

.det-width-auto { width: auto }

.det-height-all { height: 100%; }

.det-height-100 { height: 100px; }

.det-height-200 { height: 200px; }

.det-height-300 { height: 300px; }

.det-height-400 { height: 400px; }
.det-height-600 { height: 600px; }
.det-height-800 { height: 800px; }

.det-no-text-decoration { text-decoration: none; }

.det-no-wrap { white-space: pre-line; }

/*
// ============================================================================================= []
// Dev
*/

.det-dev {
    color: #00cc00;
    padding: 6px;
    margin: 6px;
    text-align: center;
    border: 1px dashed #31ff00;
    font-size: 12px;
}

/*
// ============================================================================================= []
// Desktop
*/

.det-gametable { border-radius: 0; }

.det-gametable-color { background-color: #fff5cc; }

.det-desktop {
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*
// ============================================================================================= []
// Pads
*/

.det-green-pad {
    color: #00cc00;
    width: 100%;
    background: #003e00;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
}

.det-border-bottom-red-4 { border-bottom: solid 4px #990000; }

.det-border-top-red-4 { border-top: solid 4px #990000; }

/*
// ============================================================================================= []
// Members
*/

.det-member {
    background: inherit;
    text-align: center;
    vertical-align: middle;
}

.det-member-cell-aligment { width: 100%; }

.det-member-cell-content { width: 120px; }

/*
// ============================================================================================= []
// Face
*/

.det-member-face-active-primary {
    background: #d7d700;
    color: #6f6b00;
}

.det-member-face-active-secondary {
    background: #827f00;
    color: #353300;
}

.det-member-face-inactive-murderer {
    background: #560000;
    color: #240000;
}

.det-member-face-inactive-innocent {
    background: #003e00;
    color: #001a00;
}

.det-member-cell-circle-face {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
}

.det-member-face-asked-top {
    position: relative;
    top: -10px;
}

.det-member-face-asked-bottom {
    position: relative;
    top: 10px;
}

.det-member-face-link { text-decoration: none; }

.det-member-face-link:hover { font-weight: bold; }

.det-member-face-text-alive {
    text-align: center;
    font-size: 55px;

    display: block;

    position: relative;
    left: -10px;
    
    color: inherit;
    width: inherit;
    height: inherit;
    background: none;
}

.det-member-face-text-dead {
    text-align: center;
    font-size: 20px;
    font-weight: normal;

    display: block;

    position: relative;
    top: 15px;

    color: inherit;
    width: inherit;
    height: inherit;
    background: none;
}

.det-member-cell-content-indent {
    width: 10px;
    height: 55px;
    background: inherit;
}

/*
// ============================================================================================= []
// Cards
*/

.det-card { border: solid 0 red; }

.det-card-aligment {
    background: inherit;
    width: 100%;
}

.det-card-content {
    background: inherit;
    width: 120px;
    height: auto;

    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.det-card-name-active { border-radius: 4px; }

.det-card-name-inactive {
    border-radius: 4px;
    color: #9c9974;
}

.det-card-link {
    color: inherit;
    text-decoration: underline;
}

.det-card-link:hover { color: black; }

.det-card-frame-selected {
    color: #6f6b00;
    border: solid 2px #9c9974;
    background-color: #f6f0d4;
}

.det-card-frame-visible {
    color: #858330;
    border: solid 2px #979019;
    background-color: #e9dfb4;
}

.det-card-frame-invisible {
    border: none;
    color: #9c9974;
}

/*
// ============================================================================================= []
// Gamelog
*/

.det-gamelog-record {
     padding-top: 0;
     padding-bottom: 15px;
}

.det-gamelog-record-day {
    width: 140px;
    padding-right: 15px;
    color: #560000;
    display: table-cell;
    font-weight: normal;
    vertical-align: top;
    text-align: right;
}

.det-gamelog-record-info {
    width: auto;
    display: table-cell;
    vertical-align: top;
    padding-top: 0;
}

.det-gamelog-record-info-section {
    color: inherit;
}

.det-gamelog-member-link { 
    text-decoration: none;
}

.det-gamelog-member-link:hover { background-color: #9fff89; }

.det-gamelog-subject-highlight {
    background-color: #fae5d6;
    background-color: rgba(255, 0, 0, 0.14);
}

.det-gamelog-hint-variants {
    line-height: 20px;
    padding-top: 2px;
    padding-left: 30px;
    padding-right: 60px;
}

/*
// ============================================================================================= []
// Today
*/
.det-today {
    color: #990000;
}

/*
// ============================================================================================= []
// Questioning
*/

.det-questioning {
     color: #4800b1;
}

.det-questioning-answers {
     padding-left: 30px;
}


.det-answer-highlight { background-color: yellow; }



/*
// ============================================================================================= []
// Button
*/

.det-button {
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
}

.det-button-panel {
    padding-top: 0;
    padding-bottom: 5px;
}

/*
// ============================================================================================= []
// Arrest
*/

.det-arrest-color { color: #560000; }

.det-arrest-hint { padding-top: 7px; }

.det-arrest-button {
    background-color: #004c99;
    color: #cce5ff;
}

.det-arrest-button:hover { color: #ffffff; }

.det-arrest-button-lite {
    background-color: inherit;
    color: #aeced9;
    border: solid 1px #aeced9;
}

.det-arrest-button-lite:hover {
    background-color: #004c99;
    color: #cce5ff;
    border: 0;
}

/*
// ============================================================================================= []
// Continue
*/

.det-continue-button {
    background-color: #004c99;
    color: #cce5ff;
}

.det-continue-button:hover { color: #ffffff; }

/*
// ============================================================================================= []
// EOF
*/